<!-- BEGIN form_block -->
<div align="center">
	<form name= "{formLogin}" action="{actionLogin}" method="post" class="checkForm">
		<div id="formTitleLogin">Login</div>
		<input name="{fieldLogin}" type="text" id="frm_obg_{fieldLogin}" value="{valueLogin}" class="formLogin" />
		<div id="formTitleLogin">Senha</div>
		<input name="{fieldPassword}" type="password" id="frm_obg_{fieldPassword}" value="{valuePassword}" class="formLogin" />
	<div id="spacerSend"></div>
	<div id="formField" align="center">
		<input id="send_button" name="send_button" type="button" value="Enviar" class="button"/>
	</div>
	</form>
</div>
<!-- END form_block -->