<!-- BEGIN html_block -->
<script>
{js_sajax}
var table  = '{js_table}';
var fields = '{js_fields}';
var hided  = '{js_hided}';
</script>
<script language="JavaScript" src="../view/jscripts/manage/manage.js"></script>
<link href="../view/css/manage.css" rel="stylesheet" type="text/css"/>
<div id="manage_container">    	
	<div id="manage_top">
		<div id="manage_container_search">
			<div id="manage_form_search" class="manage_form">
				<input name="{cmp_form_search}" type="text" id="{cmp_form_search}" class="form" size="40" maxlength="60"/>
			</div>
			<div id="manage_search">{cmp_search}</div>
			<div id="manage_fields_search">{cmp_search_fields}</div>
		</div>
	</div>
	<div id="manage_items">
	
	</div>
	<div id="manage_spacer"></div>
	<div id="title_detail">{cmp_title_detail}</div>
	<div id="manage_detail">
	
	</div>
</div>
<!-- END html_block -->