.fonteGalerias {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #adadae;
}
.fonteFotos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #adadae;
}
a:link {
	text-decoration: none;
	font-family: verdana;
	font-size: 9px;
	font-style: normal;
	color: #adadae;
}
a:visited {
	text-decoration: none;
	font-family: verdana;
	font-size: 9px;
	font-style: normal;
	color: #adadae;
}
a:hover {
	text-decoration: underline;
	color: #a80707;
}
a:active {
	text-decoration: none;
	font-family: verdana;
	font-size: 9px;
	font-style: normal;
	color: #adadae;
}
