/**
* Css gerenciar
*/

#id_container{
	top:5px;
	left:0px;
	position:relative;
	width:700px;
	height:100%;
	text-align:center;
	margin:0px;
	padding:0;
}

.link_gen:link {
	color: #666666;
	text-decoration: none;
}

.link_gen:visited {
	text-decoration: none;
	color: #666666;
}

.link_gen:hover {
	text-decoration: underline;
	color: #666666;
}

.link_gen:active {
	text-decoration: none;
	color: #666666;
}

.id_form{
	text-align:left;
	position:relative;
	float:left;
	clear:both;
}

.form_gerenciar{
	font-size: 10px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #4f5864;
	width:150px;
}

.cursorLink{
	cursor:pointer;
}

/***************************************/

#id_topo{
	position:relative;
	float:left;
	border-bottom:#999999 solid 1px;
}

#id_container_procura{
	position:relative;
	float:right;
	width:100%;
	right:5px;
	padding-bottom:5px;
	clear:none;
}

#id_procura{
	position:relative;
	float:right;
}

#id_campos_procura{
	text-align:right;
	left:5px;
	position:relative;
	float:right;
	font-size:10px;
	clear:both;
	color:#666666;
}

#id_form_procura{
	left:5px;
	position:relative;
	float:right;
	clear:left;
}

/* ITEM */

#id_item{
	position:relative;
	float:left;
	clear:none;
	border-bottom:#999999 solid 1px;
}

#id_titulo_item{
	width:600px;
	position:relative;
	float:left;
	color:#333333;
	clear:both;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
}

#id_container_gerenciar{
	position:relative;
	float:right;
	width:80px;
	right:5px;
	padding-top:5px;
	padding-bottom:5px;
}

#id_excluir{
	left:5px;
	position:relative;
	float:right;
}

#id_alterar{
	position:relative;
	float:right;
	clear:left;
}

/* DETALHES */

#id_detalhes{
	width:100%;
	font-size:10px;
	text-align:left;
	border: 1px solid #666666;
}

#id_spacer{
	position:relative;
	float:left;
	height:15px;
	width:100%;
}

#titulo_detalhe{
	position:relative;
	clear:both;
	font-size:10px;
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	width:150px;
	height:15px;	
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	border-top:#333333 1px solid;
	border-left:#333333 1px solid;
	border-right:#333333 1px solid;
	background-color:#f1f1f1;
}

#id_detalhe_item{
	position:relative;
	clear:both;
	width:100%;
	height:15px;
	border-bottom:#CCCCCC solid 1px;
}

#id_titulo_detalhe_item{
	float:left;
	padding-left:5px;
	padding-top:1px;
	clear:none;
}

#id_titulo_detalhe_valor{
	float:left;
	text-align:justify;
	padding-left:3px;
	padding-top:1px;
}
#id_voltar{
	padding-top:13px;
	width:100%;
	height:20px;
}