@charset "utf-8";

*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	vertical-align:middle;
}

body{
	background-image: url(../images/back.gif);
	background-repeat:repeat-x;
	background-color: #FFFFFF;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#3e3722;
}

ul{
	margin:0px;
	padding:0px;
	text-indent:-99999999px;
}

ol{
	margin:0px;
	padding:0px;
}

#container{
	position:absolute;
	left:50%;
	margin-left:-383px;
}

#header{
	position:relative;
	float:left;
	width:766px;
}

	.logo{
		position:relative;
		float:left;
		background-image: url(../images/logo.gif);
		background-repeat:no-repeat;
		height:135px;
		width:514px;
	}
	
	.logo_transp{
		position:relative;
		float:left;
		background-image: url(../images/logo_transp.gif);
		background-repeat:no-repeat;
		height:135px;
		width:252px;
	}
	
	.faixa{
		position:relative;
		float:left;
		background-image: url(../images/faixa.gif);
		background-repeat:no-repeat;
		height:151px;
		width:766px;
	}
	
#spacer{
	position:relative;
	float:left;
	width:766px;
}

	.spacerTop{
		position:relative;
		float:left;
		background-image: url(../images/spacerTop.gif);
		background-repeat:no-repeat;
		height:12px;
		width:766px;
	}
	
	.spacerLeft{
		position:relative;
		float:left;
		background-image: url(../images/spacerLeft.gif);
		background-repeat:no-repeat;
		height:28px;
		width:190px;
	}
	
	.spacerRight{
		position:relative;
		float:left;
		background-image: url(../images/spacerRight.gif);
		background-repeat:no-repeat;
		height:28px;
		width:190px;
	}
	
	.spacerBottom{
		position:relative;
		float:left;
		background-image: url(../images/spacerBottom.gif);
		background-repeat:no-repeat;
		height:42px;
		width:766px;
	}
	
#menu{
	position:relative;
	float:left;
	width:766px;
}

	.cadastrar{
		position:relative;
		float:left;
		background-image: url(../images/cadastrar.gif);
		background-repeat:no-repeat;
		height:28px;
		width:123px;
				clear:none;

	}
	
	.consultar{
		position:relative;
		float:left;
		background-image: url(../images/consultar.gif);
		background-repeat:no-repeat;
		height:28px;
		width:132px;
	}
	
	.contato{
		position:relative;
		float:left;
		background-image: url(../images/contato.gif);
		background-repeat:no-repeat;
		height:28px;
		width:69px;
	}	
	
	.logout{
		position:relative;
		float:left;
		background-image: url(../images/logout.gif);
		background-repeat:no-repeat;
		height:28px;
		width:62px;
	}
	
#content{
	position:relative;
	float:left;
	width:766px;
}


	.contentCenter{
		position:relative;
		float:left;
		width:560px;
		clear:none;
		border: 1px solid #a2c1e7;
		margin-left:69px;
		margin-right:50px;
		padding:30px;
		height:300px;
	}
	
#footer{
	position:relative;
	float:left;
	width:766px;
}

	.footerCenter{
		position:relative;
		float:left;
		background-image: url(../images/footer.gif);
		background-repeat:no-repeat;
		height:49px;
		width:766px;
		clear:none;
	}