/**
* Css oriAnt
*/

/**
* Configurações dos elementos gerais
*/

a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color:#666666;
}
a:active {
	text-decoration: none;
}


*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	vertical-align:middle;
}

body{
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;	
	background-image: url(../../../images/skins/roxo/bgCamada.jpg);
	background-repeat: repeat-x;
	background-color: #e4e4e3;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;	
	font-size:10pt;
}

/**
* Configurações dos elementos do site
*/

#id_container{
	position:relative;
	width:775px;
	text-align:center;
	margin:0 auto;
	padding-top:12px;
	height:120px;
	background-image: url(../../../images/skins/roxo/oriAnt.jpg);
	background-repeat: no-repeat;
}

#id_logo {
	position:relative;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: scroll;
	float:left;
	width:154px;
	height:117px;
}

#id_conteudo{
	position:relative;
	width:600px;
	float:left;
	text-align:center;
	margin:0 auto;
}

#id_titulo{
	text-align:left;
	position:relative;
	clear:none;
	float:left;
	width:511px;
	border-bottom:solid 1px;
	border-bottom-color:#333333;
}

#id_language{
	text-align:right;
	position:relative;
	clear:none;
	float:left;
	padding-right:5px;
	border-bottom:solid 1px;
	border-bottom-color:#333333;
}

#id_spacer{
	text-align:right;
	position:relative;
	clear:none;
	float:left;
	padding-right:5px;
	border-bottom:solid 1px;
	border-bottom-color:#333333;
}

#id_help{
	text-align:right;
	position:relative;
	clear:none;
	float:left;
	border-bottom:solid 1px;
	border-bottom-color:#333333;
}

#id_tipo{
	position:relative;
	text-align:left;
	clear:both;
	float:left;
	width:405px;
	padding-left:1px;
	padding-top:5px;
}

#id_informacoes{
	padding-top:5px;
	font-size: 11px;
	height:48px;
	overflow-x: hidden; 
	overflow-y: auto;
}

#id_grupos{
	position:relative;
	clear:both;
	float:left;
	width:600px;
	text-align:left;
}

#id_in_grupos{
	position:relative;
	float:left;
	width:599px;
	height:60px;
	text-align:center;
	overflow-x: hidden; 
	overflow-y: auto;
}

#id_box{
	position:relative;
	clear:none;
	float:right;
	width:190px;
	text-align:right;
	border-bottom:solid 1px;
	border-left:solid 1px;
	border-right:solid 1px;
}

#id_box_grupo{
	border-bottom:solid 1px;
	border-bottom-color:#9c0000;
}

#id_box_opcoes_tipo_ori{
	text-align:center;
	font-size: 11px;
	padding-top:3px;
	padding-bottom:3px;
	border-bottom:solid 1px;
	border-bottom-color:#9c0000;
}

#id_box_opcoes_contexto{
	text-align:center;
	font-size: 11px;
}

#id_box_opcoes_contexto_ori{
	text-align:center;
	font-size: 11px;
}

#id_loading{
	background:#FFFFFF;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px;
} 

/**
* Configurações das classes
*/

.titulo{
	font-size:10pt;
	font-weight:bold;
	color:#333333;
}

.texto{
	font-size:11px;
	color:#333333;
}

.vemelho{
	color:#9c0000;
}

.negrito{
	font-weight:bold;
}

.borda_frame{
	border-bottom:solid 2px;
	border-bottom-color:#9c0000;
}

.comboBox{
	font-family: tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #4f5864;
}

.cursorLink{
	cursor:pointer;
}

.tipoOri{
	padding-bottom:4px;
}
