a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #525b68;
}
a:active {
	text-decoration: none;
	color: #525B68;
}

.backGround {
	background-attachment: fixed;
	background-color: #ffbe2c;
	background-image: url(../images/estEsquerda.gif);
	background-repeat: repeat-x;
}
.tituloFotoPrincipal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.textoTurista {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}
.comboVerde {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	border: 2px solid #566723;
	background-color: #566723;
	width: 160px;
}
.comboLaranja {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 2px solid #566723;
	width: 160px;
	color: #FFFFFF;
	background-color: #f46f22;
}
.comboAzul {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	border: 2px solid #566723;
	background-color: #01aef0;
	width: 160px;
}
.tituloCidade {
	font-family: "Arial Black";
	font-size: 16px;
	color: #666666;
}
.textoInterna {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.comboMarrom {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #7d786d;
	width: auto;
	color: 7d786d;
	background-color: #e3e0d9;
}
