<html>
 <table border>
<!-- BEGIN row -->
  <tr>
<!-- BEGIN cell -->
   <td>
    {DATA}
   </td>
<!-- END cell -->
  </tr>
<!-- END row -->
 </table>
</html>
der", "Merz")
);

$tpl = new HTML_Template_IT("./templates");

$tpl->loadTemplatefile("main.tpl.htm", true, true);

foreach($data as $name) {
    foreach($name as $cell) {
        // Assign data to the inner block
        $tpl->setCurrentBlock("cell") ;
        $tpl->setVariable("DATA", $cell) ;
        $tpl->parseCurrentBlock("cell") ;
    }
    // Assign data and the inner block to the
    // outer block
    $tpl->setCurrentBlock("row") ;
    $tpl->parseCurrentBlock("row") ;
}
// print the output
$tpl->show();
?>
ARMS_INSUFICIE'] = "Parâmetros insuficientes para conectar ao banco de dados.";
